.selectImgDiv .item{
    float: left;
    cursor: pointer;
    overflow: hidden;
	min-width:100px;
	position:relative;
	margin:15px;
}
.selectImgDiv .item .img_show{
    overflow: hidden;
    border: solid thin #AAAAAA;
}
.selectImgDiv .item .img_show img{
    width: 120px;
    height: 160px;
}
.selectImgDiv .item:hover .img_show img{
    transform: scale(1.3);
    transition: all 1s ease 0s;
    -webkit-transform: scale(1.3);
    -webkit-transform: all 1s ease 0s;
}

.selectImgDiv .item .img_isCheck{
	top:0px;
    right:0px;
    text-align: right;
    z-index:1;
    position:absolute;
    visibility:hidden;

}
.selectImgDiv .item .img_isCheck i{
    font-size: 50px;
    color: #66FF33;
}